:root {
  --blueColor: #2196f3;
  --mainColor: #212121;
  --mainSecondColor: #757575;
  --mainBG: #2f303a;
  --sectionBG: #f5f4fa;
  --white: #ffffff;
}

button {
  border: 0;
  cursor: pointer;
}

h1,
h2,
h3,
ul,
p,
a {
  padding: 0;
  margin: 0;
  font-size: inherit;
  list-style: none;
  text-decoration: none;
}

img,
form {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--mainColor);
}

.team-social__icon,
.regular__icon {
  fill: #afb1b8;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blueColor);
  text-decoration: none;
}

.logo__text {
  color: var(--mainColor);
}

.logo__text--light {
  color: var(--white);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop .is-hidden .modal {
  transform: scale(1.5) rotate(250deg) translate(1000px);
  transition: transform 1000ms;
  transition: margin-left 4s;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white);
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 1000ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__text {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: var(--mainLetterSpacing);
  text-align: center;
  margin-bottom: 12px;
  color: var(--firstFontColor);
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:focus .modal__icon, .modal__close:hover .modal__icon {
  fill: var(--blueColor);
}

.social {
  display: flex;
}

.social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--blueColor);
}

.social__icon {
  fill: var(--white);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--mainSecondColor);
  margin-bottom: 10px;
}

.modal__form:nth-last-of-type(2) {
  margin-bottom: 20px;
}

.modal__form:last-of-type {
  margin-bottom: 30px;
}

.form__wrap {
  position: relative;
  display: block;
}

.modal__input,
.modal__textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus,
.modal__textarea:focus {
  border-color: var(--blueColor);
  outline: none;
}

.modal__input:focus + .form__icon {
  fill: var(--blueColor);
}

.modal__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 14px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__check {
  border: 1.8px solid var(--mainColor);
  border-radius: 2px;
  fill: var(--white);
  margin-right: 7px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .icon__check {
  outline: 1px solid var(--blueColor);
}

.checkbox:checked + .icon__check {
  border-color: var(--blueColor);
  background-color: var(--blueColor);
}

.modal__form-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
}

.modal__form-link {
  text-decoration: underline;
  color: var(--blueColor);
}

.modal__form-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--blueColor);
  color: var(--white);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  border: none;
  display: block;
  margin: 0 auto;
}

.modal__form-button:hover, .modal__form-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--blueColor);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.subscribe__button:focus, .subscribe__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__icon {
  margin-left: 10px;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team .team__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--mainSecondColor);
}

.team__social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-social__item {
  width: 44px;
  height: 44px;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--white);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover, .team-social__link:focus {
  background-color: var(--blueColor);
}

.team-social__icon {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--white);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section--no-padding {
  padding-top: 0px;
}

.section--dark-bg {
  background-color: #f5f4fa;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.page-footer {
  background-color: var(--mainBG);
  padding: 60px 0px;
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__social-box {
  margin-left: 70px;
  margin-right: 93px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.page-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.address {
  list-style: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__list {
  line-height: 1.71;
  letter-spacing: var(--mainLetterSpacing);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus, .address__link:hover {
  color: var(--blueColor);
}

.address__map {
  text-decoration: none;
  color: var(--white);
}

.subscribe {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0 15px 16px;
  margin-right: 12px;
  color: var(--white);
  font-family: inherit;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:focus {
  outline: none;
  border-color: var(--blueColor);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__flex,
.menu {
  display: flex;
}

.menu__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  text-decoration: none;
  color: var(--mainSecondColor);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:focus, .contacts__link:hover {
  color: var(--blueColor);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--blueColor);
}

.contacts__icon {
  fill: var(--mainSecondColor);
  margin-right: 10px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
  padding: 32px 0px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  padding: 32px 0px;
  text-decoration: none;
  color: var(--mainColor);
  position: relative;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:focus, .navigation__link:hover {
  color: var(--blueColor);
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--blueColor);
  bottom: -1.2px;
  left: 0;
}

.hat-hero {
  background-color: var(--mainBG);
  padding: 200px 0px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hat-hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hat-hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 700px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.hat-hero__button {
  background-color: var(--blueColor);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  font-family: inherit;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hat-hero__button:hover, .hat-hero__button:focus {
  background-color: var(--blueColor);
}

.features {
  list-style: none;
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__box {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--sectionBG);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__box + .features__box {
  margin-right: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__title:not(:last-child) {
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--mainSecondColor);
}

.job {
  list-style: none;
  display: flex;
}

.job__item {
  position: relative;
}

.job__item:not(:last-child) {
  margin-right: 30px;
}

.job__box {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.works__label {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: var(--mainLetterSpacing);
  text-transform: uppercase;
  color: var(--lightFontColor);
}

.job__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

.regular {
  display: flex;
}

.regular__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.regular__item:not(:last-child) {
  margin-right: 30px;
}

.regular__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular__link:focus, .regular__link:hover {
  color: var(--blueColor);
  border-color: var(--blueColor);
}

.regular__icon {
  width: 106px;
  height: 60px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular__link:hover .regular__icon,
.regular__link:focus .regular__icon {
  fill: var(--blueColor);
}

.subscribe {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0 15px 16px;
  margin-right: 12px;
  color: var(--white);
  font-family: inherit;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:focus {
  outline: none;
  border-color: var(--blueColor);
}

.filter {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  background-color: var(--sectionBG);
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:focus, .filter__button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blueColor);
  color: #ffffff;
}

.project {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project__item {
  flex-basis: calc((100% - 9 * 30px) / 9);
  margin-right: 30px;
  margin-bottom: 30px;
}

.project__box {
  background-color: var(--white);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--mainSecondColor);
}

.project__link {
  display: block;
  color: var(--mainColor);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:hover .project__top-text {
  transform: translateY(0);
}

.project__item-wrap {
  position: relative;
  overflow: hidden;
}

.project__top-text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 40px;
  overflow: auto;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white);
}
/*# sourceMappingURL=main.css.map */