.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
  margin-left: auto;
}

.contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding: 32px 0px;
  text-decoration: none;
  color: var(--mainSecondColor);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--blueColor);
  }
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--blueColor);
}
.contacts__icon {
  fill: var(--mainSecondColor);
  margin-right: 10px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
