.section {
  padding-bottom: 94px;
  padding-top: 94px;

  &--no-padding {
    padding-top: 0px;
  }
  &--dark-bg {
    background-color: #f5f4fa;
  }
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
