.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
  .is-hidden {
    .modal {
      transform: scale(1.5) rotate(250deg) translate(1000px);
      transition: transform 1000ms;
      transition: margin-left 4s;
    }
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white);
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 1000ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__text {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: var(--mainLetterSpacing);
  text-align: center;
  margin-bottom: 12px;
  color: var(--firstFontColor);
}

.modal__close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    .modal__icon {
      fill: var(--blueColor);
    }
  }
}
